@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('css/responsive/500px.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quote-wrapper {
    max-width: 1000px;
    margin: auto;
    position: relative;
    width: 100vw;
    height: fit-content;
    top: 0;
    left: 0;
}

body {
    font-family: 'Courgette', cursive;
    overflow: hidden;
}

.colorgrad {
    position: fixed;
    opacity: .5;
    background-color: rgb(255, 255, 255);
    width: 150vw;
    height: 150vh;
    transition: 1s;    
    filter: blur(3500px) brightness(1.5);
    //border-radius: 50%;
    z-index: 1;
}

#gradbg {
    transition: 1s;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    flex-direction: column;
}

.mainh {
    margin: auto;
    width: fit-content;
    overflow: hidden;
    h1 {
        margin-top:5vh ;
        background: linear-gradient(45deg,green, rgb(0, 76, 255));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        // &::before {
        //     top: 0;
        //     left: 0;
        //     position: absolute;
        //     background: linear-gradient(to right,rgba(0, 0, 0, 0),rgba(255, 255, 255, 0.712),rgba(0, 0, 0, 0));
        //     width: 50%;
        //     height: 200%;
        //     content: '';
        //     overflow: hidden;
        //     //animation: shine 12s infinite;
        // }
    }
}

@keyframes shine {
    0% {transform: translate(-200%);}
    50%,100% {
        transform: translate(200%);
    }
}

.quote-item {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-shadow: rgb(255, 255, 255) 2px 2px,rgba(0, 0, 0, 0.198) -3px -3px 5px;
    >* {
        width: 100%;
        display: block;
        opacity: 0;
        visibility: hidden;
        animation: slide-in 2s forwards ease-out;
    }
    h2,p {
        padding: 0 10%;
    }
    h2 {
        font-size: 1.2rem;
    }
    q {
        animation-delay: 0.2s;
        line-height: 0.5;
        text-align: center;
        font-size: 2rem;
        color: green;
        position: relative;
        &::before,&::after {
            font-size: 6rem;
            opacity: 0.2;
        }
        &::before {
            content: ',,';
            top: -2rem;
            right: -0.6rem;
            position: relative;
        }
        &::after {
            content: ',,';
            position: relative;
            left: .3rem;
        }
    }
    p {
        text-align: right;
        animation-delay: .4s;
    }
    transition: all .5s ease-in-out;
    transition-delay: .5s;
}

@keyframes slide-in {
    0% {transform: translate(-5%);}
    100% {transform: translate(0);
    visibility: visible;
    opacity: 1;
    }
}

.hl {
    transform: translate(10%);
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s;
}

hr {
    transform: translate(-10%);
    opacity: 0;
    visibility: hidden;
}

#next {
    z-index: 2;
    background-color: green;
    font-family: inherit;
    padding: 20px;
    border-radius: 50px;
    border: none;
    color: white;
    transition: 0.3s;
    &:hover {
        filter: brightness(1.3);
        cursor: pointer;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
}

.anim {
    animation: jump .3s;
}

@keyframes jump {
    0% {transform: scale(1);}
    50% {transform: scale(0.9);}
    100% {transform: scale(1);}
}