@media (max-width:500px) {
    .mainh {
       h1 {
        font-size: 1.2rem;
       } 
    }
    .quote-item {
        font-size: 1rem;
        max-width: 95%;
        margin: auto;
    }
    h2 {
        font-size: 1rem !important;
    }
    q {
        font-size: 1.2rem !important;
        line-height: 1 !important;
        &::before,&::after {
            font-size: 2rem !important;
        }
    }
    #next {
        position: fixed;
        bottom: 15%;
    }
    main {
        overflow: hidden;
    }
    .quote-item > * {
        margin: auto !important;
        width: 90% !important;
    }
    .mainh h1::before {
        display:none;
    }
}