@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("css/responsive/500px.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.quote-wrapper {
  max-width: 1000px;
  margin: auto;
  position: relative;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 0;
  left: 0;
}

body {
  font-family: 'Courgette', cursive;
  overflow: hidden;
}

.colorgrad {
  position: fixed;
  opacity: .5;
  background-color: white;
  width: 150vw;
  height: 150vh;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-filter: blur(3500px) brightness(1.5);
          filter: blur(3500px) brightness(1.5);
  z-index: 1;
}

#gradbg {
  -webkit-transition: 1s;
  transition: 1s;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mainh {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
}

.mainh h1 {
  margin-top: 5vh;
  background: linear-gradient(45deg, green, #004cff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

@-webkit-keyframes shine {
  0% {
    -webkit-transform: translate(-200%);
            transform: translate(-200%);
  }
  50%, 100% {
    -webkit-transform: translate(200%);
            transform: translate(200%);
  }
}

@keyframes shine {
  0% {
    -webkit-transform: translate(-200%);
            transform: translate(-200%);
  }
  50%, 100% {
    -webkit-transform: translate(200%);
            transform: translate(200%);
  }
}

.quote-item {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  text-shadow: white 2px 2px, rgba(0, 0, 0, 0.198) -3px -3px 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.quote-item > * {
  width: 100%;
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-animation: slide-in 2s forwards ease-out;
          animation: slide-in 2s forwards ease-out;
}

.quote-item h2, .quote-item p {
  padding: 0 10%;
}

.quote-item h2 {
  font-size: 1.2rem;
}

.quote-item q {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  line-height: 0.5;
  text-align: center;
  font-size: 2rem;
  color: green;
  position: relative;
}

.quote-item q::before, .quote-item q::after {
  font-size: 6rem;
  opacity: 0.2;
}

.quote-item q::before {
  content: ',,';
  top: -2rem;
  right: -0.6rem;
  position: relative;
}

.quote-item q::after {
  content: ',,';
  position: relative;
  left: .3rem;
}

.quote-item p {
  text-align: right;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translate(-5%);
            transform: translate(-5%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    visibility: visible;
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    -webkit-transform: translate(-5%);
            transform: translate(-5%);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    visibility: visible;
    opacity: 1;
  }
}

.hl {
  -webkit-transform: translate(10%);
          transform: translate(10%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

hr {
  -webkit-transform: translate(-10%);
          transform: translate(-10%);
  opacity: 0;
  visibility: hidden;
}

#next {
  z-index: 2;
  background-color: green;
  font-family: inherit;
  padding: 20px;
  border-radius: 50px;
  border: none;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#next:hover {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
  cursor: pointer;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.anim {
  -webkit-animation: jump .3s;
          animation: jump .3s;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
